.LandingPageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url('/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.LandingPageContainer nav {
    padding-inline: 1.5rem;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.LandingPageContainer nav h2 {
    font-size: 2rem;
    font-weight: 700;
}

.navRight {
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}

.Hero {
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-top: 20vh;
}

.heroText {
    font-size: 2.5rem;
}

.getStarted {
    background-color: #ee4318;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    font-size: 2rem;
    color: black;
    font-weight: 500;
}

.getStarted a {
    text-decoration: none;
    color: inherit;
}