.videoMeetingContainer {
    background-color: white;
    color: black;
    min-height: 100vh;
}

.videoMeetingContainer .MuiInputBase-root {
    color: black !important;
}

.videoMeetingContainer .MuiInputLabel-root {
    color: black !important;
}

.videoMeetingContainer .MuiOutlinedInput-notchedOutline {
    border-color: black !important;
}